<!-- Extending the project layout, as this file will do minor customizations -->
<!--
{% extends "layouts/base.html" %}
-->
<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Portfolio" %}
{% set repo = "https://github.com/AD1616/flask_portfolio" %}
<!-- <div class="container">

        <h1>Pigeon Chest Project</h1>
        <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">
            <div class="col-5" >
                <a href="{{ repo }}" class="btn">GitHub</a>
            </div>
        </div>
    </div> -->
{% block body %}
<!--
<link rel="stylesheet" type="text/css" href="../stylesheets/birds.css" media="screen" />
-->

<div class="container">
    <h1 style="color:Blue;">
        SVG Animated Birds</h1>

    <div class="bird-container bird-container--one">
        <div class="bird bird--one"></div>
    </div>

    <div class="bird-container bird-container--two">
        <div class="bird bird--two"></div>
    </div>

    <div class="bird-container bird-container--three">
        <div class="bird bird--three"></div>
    </div>

    <div class="bird-container bird-container--four">
        <div class="bird bird--four"></div>
    </div>

</div>
{% endblock %}

<!--
{% block background %}
{% endblock %}
-->