<head>
    {% extends "layouts/base.html" %}
    {% set project = "about" %}

    {% block background %}
    {% endblock %}

</head>
{% block body %}
<body>
<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 style="font-family: Arial; color: #000000; class="display-4">About us page</h1>
                <p style="font-family: Arial; color: #000000; class="lead text-muted mb-0">Lear more about team Pigeon Chest</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>
    </div>
        </div>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 style="font-family: Arial; color: #000000; class=" font-weight-light">Team Member Name</h2>
                    <span  ">
                <p style="font-family: Arial; color: #000000; class=" font-italic text-muted mb-4">Things that you like and enjoy.</p>
                    <span  ">
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-5">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our team</h2>
                <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="center-block" style="margin: 0 0 0;background-color:black; text-align:left; font-family: gilroy,serif;">
</body>
{% endblock %}