<head>
    {% extends "layouts/base.html" %}
    {% set project = "about" %}

    {% block background %}
    {% endblock %}

</head>
{% block body %}

<style>
    body {
        background-image: url("https://assets.bonappetit.com/photos/5ccc59208107100a1353aa71/8:5/w_3600,h_2250,c_limit/Basically-Pork-Meatballs-Rice-Macro.jpg");
    }
</style>
<div class="row h-100 align-items-center py-5">
    <div class="col-lg-5 px-5 mx-auto"></div>
    <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h1 style="font-family: Arial; color: #000000; class="display-4">About us page</h1>
                <p style="font-family: Arial; color: #000000; class="lead text-muted mb-0">Learn more about team Pigeon Chest</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"></div>
        </div>
    </div>
</div>
    </div>
        </div>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"></div>
        </div>
<div class="row h-100 align-items-center py-5">
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
            <h2 style="font-family: Arial; color: #000000; class=" font-weight-light">Isaac Le</h2>
            <span  ">
            <p style="font-family: Arial; color: #000000; class=" font-italic text-muted mb-4">I enjoy playing Soccer and Video Games, and my favorite subject is math.</p>
                    <span  ">
            <img src="/static/Isaac-About.jpeg" width="200" height="333">
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"></div>
        </div>
<div class="row h-100 align-items-center py-5">
        <div class="col-lg-5 px-5 mx-auto"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
            <h2 style="font-family: Arial; color: #000000; class=" font-weight-light">Sahil Samar</h2>
            <span  ">
            <p style="font-family: Arial; color: #000000; class=" font-italic text-muted mb-4">I enjoy playing the guitar, tennis, and video games. My favorite subject is physics.</p>
            <span  ">
            <img src="/static/Sahil-About.jpeg" width="250" height="333">
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"></div>
        </div>
<div class="row h-100 align-items-center py-5">
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
            <h2 style="font-family: Arial; color: #000000; class=" font-weight-light">Erik Peterson</h2>
            <span  ">
            <p style="font-family: Arial; color: #000000; class=" font-italic text-muted mb-4">I like sleeping. My favorite subject is robotics.</p>
            <span  ">
            <img src="/static/Erik-About.jpeg" width="225" height="333">
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"></div>
        </div>
<div class="row h-100 align-items-center py-5">
        <div class="col-lg-5 px-5 mx-auto"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
            <h2 style="font-family: Arial; color: #000000; class=" font-weight-light">Yash Shah</h2>
            <span  ">
            <p style="font-family: Arial; color: #000000; class=" font-italic text-muted mb-4">I like sleeping and building legos. My favorite subject is Computer Science.</p>
            <span  ">
            <img src="/static/Yash_Final-About.jpeg" width="250" height="333">
            </div>
        </div>
    </div>
</div>

    <div class="row text-center">
        <div class="col-lg-5 px-5 mx-auto"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        </div>
        </div>

        <div class="row text-center">
            <div class="center-block" style="margin: 0 0 0;background-color:black; text-align:left; font-family: gilroy,serif;">
</body>
{% endblock %}