<head>
    {% extends "layouts/base.html" %}
    {% set project = "about" %}

    {% block background %}
    {% endblock %}

</head>
{% block body %}
<body background ="https://assets.bonappetit.com/photos/5ccc59208107100a1353aa71/8:5/w_3600,h_2250,c_limit/Basically-Pork-Meatballs-Rice-Macro.jpg">
<div class="row h-100 align-items-center py-5">
    <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h1 style="font-family: Arial; color: #000000; class="display-4">About us page</h1>
                <p style="font-family: Arial; color: #000000; class="lead text-muted mb-0">Learn more about team Pigeon Chest</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>
    </div>
        </div>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
<div class="row h-100 align-items-center py-5">
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
            <h2 style="font-family: Arial; color: #000000; class=" font-weight-light">Isaac Le</h2>
            <span  ">
            <p style="font-family: Arial; color: #ffdc00; class=" font-italic text-muted mb-4">I enjoy playing Soccer and Video Games, and my favorite subject is math.</p>
                    <span  ">
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
<div class="row h-100 align-items-center py-5">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
            <h2 style="font-family: Arial; color: #000000; class=" font-weight-light">Sahil Samar</h2>
            <span  ">
            <p style="font-family: Arial; color: #ffdc00; class=" font-italic text-muted mb-4">I enjoy playing the guitar, tennis, and video games. My favorite subject is physics.</p>
            <span  ">
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
<div class="row h-100 align-items-center py-5">
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
            <h2 style="font-family: Arial; color: #000000; class=" font-weight-light">Erik Peterson</h2>
            <span  ">
            <p style="font-family: Arial; color: #ffdc00; class=" font-italic text-muted mb-4">I like sleeping. My favorite subject is robotics.</p>
            <span  ">
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
<div class="row h-100 align-items-center py-5">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
            <h2 style="font-family: Arial; color: #000000; class=" font-weight-light">Yash Shah</h2>
            <span  ">
            <p style="font-family: Arial; color: #ffdc00; class=" font-italic text-muted mb-4">I like sleep and build legos. My favorite subject is Computer Science.</p>
            <span  ">
            </div>
        </div>
    </div>
</div>

    <div class="row h-100 align-items-center py-5">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="display-4 font-weight-light">Our team</h2>
                <p class="font-italic text-muted">#.</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="center-block" style="margin: 0 0 0;background-color:black; text-align:left; font-family: gilroy,serif;">
</body>
{% endblock %}