{% extends "layouts/base.html" %}

{% block body %}
<body style = "background-color: lightgrey;">
<font color = "black">
    <h1>Binary with RGB</h1>
    <p>Turn the switches on and off in order to change the color! First row changes shades of red, second row changes shades of green, third row changes shades of blue.</p>

    <div class="row">
        <div class="col-sm-1"></div>
        {#Creating the row of bits with functionality to change the value between 0 and 1 upon clicking through button accesing toggleSwitch function#}
        {% for i in range(1, 9) %}
        <button class="col-sm-1" id="R{{i}}" onclick="toggleSwitch('R{{i}}')">0</button>
        {% endfor %}

        <div class="offset-sm-1 col-sm-2">
            <p id="R">Red RGB value: 0</p>
        </div>
        {#Color for red#}
        <div class="offset-sm-11 col-sm-1" id="red" style="background-color: #000000; height: 5vh;">
        </div>
    </div>


    <div class="row">
        <div class="col-sm-1"></div>
        {#Creating the row of bits with functionality to change the value between 0 and 1 upon clicking through button accesing toggleSwitch function#}
        {% for i in range(1, 9) %}
        <button class="col-sm-1" id="G{{i}}" onclick="toggleSwitch('G{{i}}')">0</button>
        {% endfor %}

        <div class="offset-sm-1 col-sm-2">
            <p id="G">Green RGB value: 0</p>
        </div>
        {#Color for green#}
        <div class="offset-sm-11 col-sm-1" id="green" style="background-color: #000000; height: 5vh;">
        </div>
    </div>


    <div class="row">
        <div class="col-sm-1"></div>
        {#Creating the row of bits with functionality to change the value between 0 and 1 upon clicking through button accesing toggleSwitch function#}
        {% for i in range(1, 9) %}
        <button class="col-sm-1" id="B{{i}}" onclick="toggleSwitch('B{{i}}')">0</button>
        {% endfor %}

        <div class="offset-sm-1 col-sm-2">
            <p id="B">Blue RGB value: 0</p>
        </div>
        {#Color for blue#}
        <div class="offset-sm-11 col-sm-1" id="blue" style="background-color: #000000; height: 5vh;">
        </div>
    </div>

    <br> <br> <br>

    {# Creating a color comprised of the R, G, and B input values #}
    <div class="offset-sm-1 col-sm-10" id="color" style="background-color: #000000; height: 30vh;">
    </div>
    <p style="text-align: center;" id="code">Hexcode: #000000</p>



<script>

var red = 0;
var green = 0;
var blue = 0;

function toggleSwitch (id) {
    const element = document.getElementById(id);
    if (element.innerHTML == "1") {
        element.innerHTML = "0";
    } else {
        element.innerHTML = "1";
    }
    element.classList.toggle("buttonOn");
    element.classList.toggle("buttonOff");

    {# Calculating the RGB value for each row, iterating through them based on the first letter of the ID which will differentiate R, G, and B#}
    calculateRow(id.charAt(0));
}

function calculateRow (colorValue) {
    let sum = 0;
    for (var i = 1; i <= 8; i++) {
        let element = document.getElementById(colorValue + i);
        sum += Math.pow(2, 8 - i) * parseInt(element.innerHTML);
    }
    switch (colorValue) {
        case 'R':
            red = sum;
            document.getElementById(colorValue).innerHTML = "Red RGB value: " + sum;
            break;
        case 'G':
            green = sum;
            document.getElementById(colorValue).innerHTML = "Green RGB value: " + sum;
            break;
        case 'B':
            blue = sum;
            document.getElementById(colorValue).innerHTML = "Blue RGB value: " + sum;
            break;
        default:
            break;
    }
    setColorCode();
}

function setColorCode () {
    let R = red.toString(16);
    let G = green.toString(16);
    let B = blue.toString(16);

    {#If the hexcode of each color value only takes up one digit, then we will add a 0 in front#}
    if (R.length == 1) {
        R = "0" + R;
    }
    if (G.length == 1) {
        G = "0" + G;
    }
    if (B.length == 1) {
        B = "0" + B;
    }
    {# Calculating overall hexcode #}
    let code = "#" + R + G + B;
    {# Calculating individual color hexcode#}
    let redCode = "#" + R + "0000";
    let blueCode = "#" + "0000" + B;
    let greenCode = "#" + "00" + G + "00";
    document.getElementById("color").style.backgroundColor = code;
    document.getElementById("red").style.backgroundColor = redCode;
    document.getElementById("green").style.backgroundColor = greenCode;
    document.getElementById("blue").style.backgroundColor = blueCode;
    document.getElementById("code").innerHTML = "Hexcode: " + code;
}


</script>

<style>

.buttonOff {
    background-color: lightgray;
    color: black;
}

.buttonOn {
    background-color: lightgrey;
    color: black;
}

</style>
</font>
{% endblock %}
