<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}
{% set Journal0 = "https://docs.google.com/document/d/1Q3nanvqXZMJskCUd3dfQewO-kT5RpT8gmFCfZ_CEu4M/edit" %}
{% set Journal1 = "https://docs.google.com/drawings/d/1-ohIxvq5Q8XuaZxKGwjp4loVQkUf3HMt5p6ulrTQGek/edit" %}
{% set overview = "https://docs.google.com/drawings/d/1iUHZpTsHxTqLAXmsw7_yFhUrIjG1LG6v8OYxuNUdkGA/edit" %}

<!- This variable sets name of browser tab  -->
{% set project = "brainWrite" %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 10px;
            height: 600px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>
<font color="black">
    <h2>Planning</h2>
</font>
<div class="row">
    <div class="column" style="background-color:#bbb;">
        <h2>Brain Write</h2>
        <div style = "position:relative; left:-10px; top:240px;">
            <a href="{{ Journal0 }}" class="btn">Brain Write</a>
        </div>
        <p>
            <img src="../static/Brain Write.JPG" height="240" width="480"/>
        </p>
    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>Wire Frame 1</h2>
        <div style = "position:relative; left:-10px; top:450px;">
            <a href="{{ Journal1 }}" class="btn">Wireframe1</a>
        </div>
        <p>
            <img src="../static/Rice Facts.JPG" height="450" width="484"/>
        </p>
    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>Wire Frame 2</h2>
        <div style = "position:relative; left:-10px; top:450px;">
            <a href="{{ overview }}" class="btn">Wireframe2</a>
        </div>
        <p>
            <img src="../static/Rice Types.JPG" height="450" width="484"/>
        </p>
    </div>
</div>

</body>
</html>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
