<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}
{% set Journal0 = "https://docs.google.com/document/d/1Q3nanvqXZMJskCUd3dfQewO-kT5RpT8gmFCfZ_CEu4M/edit" %}

<!- This variable sets name of browser tab  -->
{% set project = "brainWrite" %}

{% block body %}
    <div class="col-3">
        <a href="{{ Journal0 }}" class="btn">Brain Write</a>
    </div>
    <img src="Assets/OnPaste.20210908-130939.jpg" alt = "Brain Write">
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
