<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}
{% set Journal0 = "https://www.youtube.com/playlist?list=PLpaNhImcjow2iDo2fn_kIAYBLARIUirRm" %}

<!- This variable sets name of browser tab  -->
{% set project = "Journals" %}

{% block body %}
<body style = "background-color: lightgrey;">
    <div>
        <div class="col-3">
            <a href="{{ Journal0 }}" class="btn">Journal0</a>
        </div>
    </div>
    <div><p style="color:black">
        This is where the function will go
    </p>
    </div>
</body>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
