<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block meta %}
{# Line below uses jquery in order to hide and show images #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    // Hack: add java script function to toggle image from original to gray and back (toggle)
    //  document.getElementById("img<n>").src
    //  document.getElementID("img_gray<n>").innerHTML
    //  help: https://www.geeksforgeeks.org/how-to-change-the-src-attribute-of-an-img-element-in-javascript-jquery/

    var imageType = 0; // When the grayscaled image is shown, this changes to 1 so that if the button is pressed again, it will become 0 and change back to colored.
    // This function is called when the toggle colors button is pushed to either hide the colored image and show the grayscaled image or vice versa
    function toggle() {
        if (imageType == 0) {
            $('#colored').hide()
            $('#grayscale').show()
            imageType = 1;
        } else {
            $('#grayscale').hide()
            $('#colored').show()
            imageType = 0;
        }
    }
</script>
    <title>RGB starter</title>
{% endblock %}

{% block body %}
    <h1 class="text-center">RGB values within an Image</h1>
    <div class="container">
        {#Button here calls the toggle function#}
        <button onclick="toggle()">Toggle to Greyscale or switch back to color!</button>
        {#This class is defining how the page will display the colored images, stored in id of colored to be called in toggle function#}
        <div class="row justify-content-md-center" id="colored">
            <table class="table">
                <thead>
                <tr>
                    <th>Meta Data</th>
                    <th>Image</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                {% for image in images %}
                    <tr>
                        <td>
                            <div>{{image.file}}</div>
                            <div>{{image.format}}</div>
                            <div>{{image.size}}</div>
                            <div>{{image.label}}</div>
                            <div>{{image.source}}</div>
                        </td>
                        <td>
                            <img class="img-responsive py-3" id=img{{loop.index}} alt="" width="256" height="Auto" src="{{image.base64}}" >
                            <p hidden id="img_orig{{loop.index}}">{{image.base64}}</p>
                        </td>
                        <td>
                            <div class="overflow-auto" style="height: 256px">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{image.mode}}</th>
                                        <th>Hex Code</th>
                                        <th>Binary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in image.data[:256+1] %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{row}}</td>
                                            <td>{{image.hex_array[loop.index - 1]}}</td>
                                            <td>{{image.binary_array[loop.index - 1]}}
                                        </tr>
                                        {% if loop.index > 256 %}
                                            <tr><td>...</td><td>truncated</td><td>...</td><td>...</td></tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        {#This class is defining how the page will display the grayscaled images, stored in id of grayscale to be called in toggle function#}
        <div class="row justify-content-md-center" id="grayscale">
            <table class="table">
                <thead>
                <tr>
                    <th>Meta Data</th>
                    <th>Image</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                {% for image in images %}
                    <tr>
                        <td>
                            <div>{{image.file}}</div>
                            <div>{{image.format}}</div>
                            <div>{{image.size}}</div>
                            <div>{{image.label}}</div>
                            <div>{{image.source}}</div>
                        </td>
                        <td>
                            <img class="img-responsive py-3" id=img{{loop.index}} alt="" width="256" height="Auto" src="{{image.base64_GRAY}}" >
                            <p hidden id="img_gray{{loop.index}}">{{image.base64_GRAY}}</p>
                        </td>
                        <td>
                            <div class="overflow-auto" style="height: 256px">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{image.mode}}</th>
                                        <th>Hex Code</th>
                                        <th>Binary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in image.gray_data[:256+1] %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{row}}</td>
                                            <td>{{image.gray_hex_array[loop.index - 1]}}</td>
                                            <td>{{image.gray_binary_array[loop.index - 1]}}
                                        </tr>
                                        {% if loop.index > 256 %}
                                            <tr><td>...</td><td>truncated</td><td>...</td><td>...</td></tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <script>
    {# The code renders the grayscaled images upon opening the site. As soon as the DOM is safe to manipulate, we are hiding the grayscaled images with .ready so that they only show up if we click the button.#}
        $(document).ready(function() {
            $('#grayscale').hide()
        });
    </script>
{% endblock %}