<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}
{% set Journal0 = "https://docs.google.com/document/d/1fi0Zj9yxSZaZkP6lQqXoL14BMwgHD4VMOBYDQ0LvwhM/edit" %}

<!- This variable sets name of browser tab  -->
{% set project = "tpt" %}

{% block body %}
    <div class="container row">
        <div class="col-sm">
            <a href="{{ Journal0 }}" class="btn">TPT3 Notes</a>
        </div>
        <div class="col-sm" style="text-align: center; padding-top: 0">
            <h4> +3 Average Algorithm </h4>
            <form action="/tpt/" method="post">
                <label for="var1">First Variable:</label>
                <input type="number" id="var1" name="var1" value="{{ var1 }}"> +3 <br>
                <label for="var2">Second Variable:</label>
                <input type="number" id="var2" name="var2" value="{{ var2 }}"> +3 <br>
                <label for="var1">Third Variable:</label>
                <input type="number" id="var3" name="var3" value="{{ var3 }}"> +3 <br>
                <label for="var1">Fourth Variable:</label>
                <input type="number" id="var4" name="var4" value="{{ var4 }}"> +3 <br>
                <label for="var1">Fifth Variable:</label>
                <input type="number" id="var5" name="var5" value="{{ var5 }}"> +3<br>
                <label for="var1">Sixth Variable:</label>
                <input type="number" id="var6" name="var6" value="{{ var6 }}"> +3 <br><br>
                <input type="submit" value="Submit">
            </form>

        <div class="col-sm">
            <p>The average of {{ var1 }}+3, {{ var2 }}+3, {{ var3 }}+3, {{ var4 }}+3, {{ var5 }}+3, and {{ var6 }}+3 is {{ average }}.</p>
        </div>


    </div>



{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}

<script>
    list1 = [5,3,4,1,2]

</script>