<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}
{% set Journal0 = "https://docs.google.com/document/d/1fi0Zj9yxSZaZkP6lQqXoL14BMwgHD4VMOBYDQ0LvwhM/edit" %}

<!- This variable sets name of browser tab  -->
{% set project = "tpt" %}

{% block body %}
    <div class="col-3">
        <a style="font-family: Arima Madurai, cursive; color: black"; href="{{ Journal0 }}" class="btn">TPT3 Notes</a>
    </div>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}